<h1>Listado de ofertas</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Descripción general de la oferta</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>#@# Programador senior java</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>#@# Programador senior java</td>
  </tr>
  <tr>
    <th scope="row">..</th>
    <td>#@# Programador senior java</td>
  </tr>
  <!-- .. -->
  <tr>
    <th scope="row">n</th>
    <td>#@# Programador senior java</td>
  </tr>
  </tbody>
</table>
